{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div align="right">Hi {{ user.username }}!</div>
        <div align="right"><p><a href="{% url 'logout' %}">Logout</a></p></div>
    {% else %}
        <a href="{% url 'login' %}" >login</a><br>
    {% endif %}
    <div align="left">
        <form action="{% url 'search' %}" method="get" class="search">
            <input type="text" name="q" id="search_parameter">
            <button class="search-button" type="button" value="search" id="search_button">search</button>
        </form>
    </div>
    <div id="uploadResponse"></div>
{% endblock %}